{% extends 'base.html' %}

{% block content %}
    <h2>Notifications</h2>
    {% if message %}
        <p>{{ message }}</p>  <!-- Display the message if no notifications -->
    {% else %}
        <ul>
            {% for notification in notifications %}
                <li>
                    {% if not notification.is_read %}
                        <span class="unread">{{ notification.message }}</span>
                    {% else %}
                        {{ notification.message }}
                    {% endif %}
                </li>
            {% empty %}
                <li>No notifications available</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}