{% extends 'base.html' %}
{% load static %}
{% block title %}Onboarding Form{% endblock %}

{% block content %}
    <div class="container">
        <h2>Onboarding Form</h2><br>
        <form id="onboarding-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script defer src="{% static 'js/onboarding.js' %}"></script>
{% endblock %}