{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Doctors Without Borders {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="head">
       

        <nav>
            <ul class="nav-list">
            </ul>
        </nav>   
        <div class="user-info">
            <p> Hello, {{user.first_name}} </p>
            <a href="{% url 'profile_update' %}"><img id="profile-picture" src="{{user.profile.profile_picture.url}}" alt="Profile Picture"></img></a><br>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>    
    </header>



<div class="form-container">
    <h2>Update Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
</div>


<footer>
    <p>&copy; 2025 Doctors Without Borders</p>
    <p> Contact us at <a href="mailto: email@dwb.com">email@dwb.com</a></p>
</footer>



</body>
</html>