{% extends "base.html" %}

{% block content %}
    <h2> Your Appointments</h2>
    <ul>
        {% for appointment in appointments %}
            <li>
                <a href="{% url 'appointment-detail' appointment.id %}">
                {{ appointment.patient }}'s appointment with {{ appointment.doctor }} on {{ appointment.date_time}} for complaint: '{{appointment.reason}}'
                </a>
            </li>
        {% empty %}
            <h4>You have no new appointments<h4>
        {% endfor %}
    </ul>

    <p>Click<a href="{% url 'book-appointment' %}"> here</a>  to book a new appointment </p>
{% endblock %}
