{% extends "base.html" %}

{% block content %}
    <h2>Your Appointments</h2>

    {% if not appointments %}
        <p><strong>You have no new appointments</strong></p>

        <p>
          Click <a href="{% url 'available-doctors' %}">here</a> to view available doctors and book an appointment.
        </p>
    {% else %}
        <ul>
            {% for appointment in appointments %}
                <li>
                    <a href="{% url 'appointment-detail' appointment.id %}">
                        {{ appointment.patient }}'s appointment with {{ appointment.doctor }} on {{ appointment.date_time }} for complaint: '{{ appointment.reason }}'
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
